.turism-form-title {
  font-size: 32px;
  padding-top: 48px;
  padding-left: 130px;
  margin-bottom: 32px;
}

.turism-form-title,
.form-button {
  font-family: "Poppins", sans-serif;
}

.turism-form-form {
  position: relative;
  display: grid;
  grid-template-columns: 300px 420px;
  gap: 17px;
  padding-left: 130px;
}

.div-auxi {
  position: relative;
}

.form-image {
  position: absolute;
  opacity: 0;
}

.fake-image-form {
  position: absolute;
  /* padding-left: 130px; */
  width: 100%;
  height: 212px;
  border: 2px solid var(--gray-300);
  border-radius: 8px;
  text-align: center;
  color: var(--gray-500);
  cursor: pointer;
}

.fake-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div-form {
  position: relative;
  display: inline-block;
  margin-right: auto;
}

.form-description,
.form-title {
  border: 2px solid var(--gray-300);
  border-radius: 3.5px;
  font-family: "Roboto", sans-serif;
  padding: 15px;
}

.form-description::placeholder,
.form-title::placeholder,
.fake-placeholder {
  color: var(--gray-500);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.form-title {
  display: flex;
  width: 100%;
  height: 54px;
  margin-bottom: 20px;
}

.form-description {
  display: flex;
  position: relative;
  width: 100%;
  height: 131px;
  margin-bottom: 18px;
}

.form-description::placeholder {
  position: absolute;
  top: 36px;
}

.form-button {
  border: none;
  border-radius: 8px;
  background: var(--pink-500);
  width: 121px;
  height: 56px;
  font-size: 16px;
  color: var(--white-);
  position: absolute;
  right: 0;
  cursor: pointer;
}

.form-button:hover {
  background: var(--pink-300);
}

.form-button:active {
  background: var(--pink-500);
}
