@import "form.css";
@import "variables.css";
@import "medias.css";
@import "result.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */