@media only screen and (max-width: 600px) {
  .turism-form-form {
    grid-template-columns: 1fr;
  }

  .turism-form-title {
    padding-left: 16px;
    padding-top: 16px;
  }

  .turism-form-form {
    padding: 0px;
  }

  .div-form {
    width: 100%;
    padding: 0 16px;
  }

  .form-button {
    width: 90%;
    left: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .fake-image-form {
    margin-left: 16px;
    max-width: 260px;
  }
}

@media only screen and (min-width: 301px) {
  .fake-image-form {
    max-width: 288px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 870px) {
  .turism-form-title {
    padding-left: 32px;
  }

  .fake-image-form {
    margin-left: 32px;
    padding-left: 0;
  }

  .turism-form-form {
    padding: 0px;
  }

  .div-form {
    width: 65%;
    margin-left: 16px;
  }
}

@media only screen and (min-width: 701px) and (max-width: 874px) {
  .div-form {
    width: 80%;
  }
}

@media only screen and (min-width: 875px) {
  .form-title {
    width: 326px;
  }

  .form-description {
    width: 425px;
  }
}

@media only screen and (max-width: 600px) {
  .div-form {
    margin-top: 213px;
  }
}
