.result{
    padding: 0 132px;
}

.render-result{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.result-title{
    font-size: 32px;
    padding-top: 120px;
    margin-bottom: 32px;
}
.result-title,
.turism-result-title{
    font-family: 'Poppins', sans-serif;
}

.turism-result{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 212px;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
}

.turism-result-text{
    text-align: left;
    padding: 24px;
}

.turism-result-title{
    font-size: 24px;
    height: 60px;
}
.turism-result-description{
    color: var(--gray-500);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.turism-result-image{
    width: 100%;
}

@media screen and (max-width:600px) {
    .result{
        padding: 0 16px;
    }
    .result-title{
        padding: 10px;
    }
    .render-result{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .turism-result{
        max-width: 343px;
        height: 424px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media screen and (min-width:600px) and (max-width:800px) {
    .render-result{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .turism-result{
        width: 100%;
        height: 290px;
    }
    
}

@media screen and (min-width:801px) and (max-width:1200px) {

    .result{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        width: 95%;
        justify-items: center;
    }
    .render-result{
        padding: 0;
    }

    .turism-result-text{
        height: 100%;
        padding: 12px;
    }
}